<link rel="stylesheet" href="{{ 'promotion.css' | asset_url }}">

<h1>Đây là sesstion from promotion</h1>

<div class="promotion">
  <div class="promotion-item">
    <div class="promotion-image">
      <img src="https://cdn.shopify.com/s/files/1/0603/8690/2114/files/ima8.jpg?v=1731221481" alt="Image 1">
    </div>
    <div class="promotion-caption">
      <p class="caption">Description Image</p>
    </div>
  </div>
  <div class="promotion-item">
    <div class="promotion-image">
      <img src="https://cdn.shopify.com/s/files/1/0603/8690/2114/files/ima7.jpg?v=1731221481" alt="Image 2">
    </div>
    <div class="promotion-caption">
      <p class="caption">Description Image</p>
    </div>
  </div>
  <div class="promotion-item">
    <div class="promotion-image">
      <img src="https://cdn.shopify.com/s/files/1/0603/8690/2114/files/ima3.jpg?v=1731221481" alt="Image 3">
    </div>
    <div class="promotion-caption">
      <p class="caption">Description Image</p>
    </div>
  </div>
  <div class="promotion-item">
    <div class="promotion-image">
      <img src="https://cdn.shopify.com/s/files/1/0603/8690/2114/files/ima5.jpg?v=1731221481" alt="Image 4">
    </div>
    <div class="promotion-caption">
      <p class="caption">Description Image</p>
    </div>
  </div>
  <div class="promotion-item">
    <div class="promotion-image">
      <img src="https://cdn.shopify.com/s/files/1/0603/8690/2114/files/ima6.jpg?v=1731221481" alt="Image 5">
    </div>
    <div class="promotion-caption">
      <p class="caption">Description Image</p>
    </div>
  </div>
  <div class="promotion-item">
    <div class="promotion-image">
      <img src="https://cdn.shopify.com/s/files/1/0603/8690/2114/files/ima1.jpg?v=1731221481" alt="Image 6">
    </div>
    <div class="promotion-caption">
      <p class="caption">Description Image</p>
    </div>
  </div>
  <div class="promotion-item">
    <div class="promotion-image">
      <img src="https://cdn.shopify.com/s/files/1/0603/8690/2114/files/ima2.png?v=1731221481" alt="Image 7">
    </div>
    <div class="promotion-caption">
      <p class="caption">Description Image</p>
    </div>
  </div>
  <div class="promotion-item">
    <div class="promotion-image">
      <img src="https://cdn.shopify.com/s/files/1/0603/8690/2114/files/ima4.jpg?v=1731221481" alt="Image 8">
    </div>
    <div class="promotion-caption">
      <p class="caption">Description Image</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Promotion",
  "settings": [],
  "presets": [
    {
      "name": "Promotion"
    }
  ]
}
{% endschema %}
